<!------------------------------ success message ----------------------------------------->
<% if(successMsg && successMsg.length) { %>

<div class="flash_message_div">
  <p class="flash_message"><%= successMsg %></p>
  <button class="flash_message_cross_btn">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>

<% } %>
<!------------------------------ failure message ----------------------------------------->

<% if(failureMsg && failureMsg.length) { %>

<div class="flash_message_div">
  <p class="flash_message"><%= failureMsg %></p>
  <button class="flash_message_cross_btn">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>

<% } %>
