<nav>
  <a href="/listings">All Toys</a>
  <a href="/listings/new">Add new toy</a>

  <!------------- if user is not logged in -------------->
  <% if(!currentUser) { %>
  <a href="/signup">Sign Up</a>
  <a href="/login">Login</a>
  <% } %>

  <!------------- if user is logged in -------------->
  <% if(currentUser) { %>
  <a href="/logout">Log Out</a>
  <% } %>

  <!------------------- clock -------------------------->
  <span class="clock"></span>
</nav>

<script src="/js/clock.js"></script>
