<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zappy</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <!-------------- leads to zappy main page ------------------->
    <a href="/listings"
      >To <i class="fa-solid fa-infinity"></i> and beyond!
      <i class="fa-solid fa-rocket"></i
    ></a>

    <!---------------- adding font awesome script ----------------->
    <script
      src="https://kit.fontawesome.com/f6dcd8ba33.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
