<% layout("layouts/boilerplate.ejs") %>

<div class="add_new_listing_form_div">
  <form
    action="/listings"
    method="post"
    class="add_new_listing_form needs-validation"
    novalidate
    enctype="multipart/form-data"
  >
    <!--------------------------- toy name ------------------------------>
    <div class="new_listing_div">
      <label for="toy_name" class="form-label">Enter your toy's name</label>
      <input
        type="text"
        id="toy_name"
        placeholder="woody"
        name="listing[name]"
        maxlength="25"
        minlength="3"
        class="form-control"
        autocomplete="off"
        required
      />
    </div>

    <!--------------------------- toy desc ------------------------------>
    <div class="new_listing_div">
      <label for="toy_desc" class="form-label"
        >Enter your toy's description</label
      >
      <textarea
        type="text"
        id="toy_desc"
        cols="20"
        rows="6"
        minlength="50"
        name="listing[description]"
        placeholder="amazing toy!"
        class="form-control"
        autocomplete="off"
        required
      ></textarea>
    </div>

    <!--------------------------- toy img ------------------------------>

    <div class="new_listing_div">
      <label for="toy_img" class="form-label">Drop your toy's picture</label>
      <input
        type="file"
        id="toy_img"
        name="listing[image]"
        class="form-control"
        autocomplete="off"
        required
      />
    </div>

    <!--------------------------- toy quality ------------------------------>
    <div class="new_listing_div">
      <label for="toy_quality" class="form-label"
        >What do you like most about this toy?</label
      >
      <textarea
        type="text"
        id="toy_quality"
        cols="20"
        rows="6"
        name="listing[quality]"
        placeholder="our friendship"
        class="form-control"
        autocomplete="off"
        minlength="50"
        required
      ></textarea>
    </div>

    <!--------------------------- toy name ------------------------------>
    <button>Zappy's getting a new toy!</button>
  </form>
</div>
