.edit_listing_form_div {
  padding: 1rem;
  min-height: 100vh;
}

.edit_prev_listing_form {
  max-width: 800px;
  margin: 0 auto;
}

#preview_img img {
  border-radius: 10px;
  width: 50%;
  height: 300px;
}

.edit_prev_listing_form button {
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  background-color: steelblue;
  color: #fff;
  border-radius: 10px;
  border: none;
}

/************************ responsiveness ******************************/
@media(max-width : 900px) {
    #preview_img img {
        width: 200px;
        height: 200px;
      }
}

@media(max-width : 820px) {
    .edit_prev_listing_form button {
        font-size: 1.25rem;
    }
}