.error {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    overflow: hidden;
}

.error_message_div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: steelblue;
    padding: 5rem;
    border-radius: 1rem;
}

.error_message {
    color: #fff;
    text-align: center;
}


/*************************** responsiveness *******************************/
@media(max-width : 800px) {
    .error {
        padding: 2rem;
    }

    .error_message_div {
        padding: 2rem;
    }
}

