nav {
  background-color: steelblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0;
}

nav a {
  font-size: 2rem;
  color: #fff;
}

.clock {
  text-align: center;
  color: #9ec5f5;
  font-weight: bold;
  font-size: 2rem;
}

/********************** responsiveness *********************/
@media (max-width: 1200px) {
  nav {
    flex-direction: column;
    padding: 0.5rem 0;
  }
}

@media (max-width: 400px) {
  nav {
    padding: 0.5rem 0;
  }

  nav a {
    font-size: 1.5rem;
    color: #fff;
  }

  .clock {
    font-size: 1.5rem;
  }
}
