<% layout("layouts/boilerplate.ejs") %>

<!-------------------------- sign up form ---------------------------------->
<div class="login_form_div">
  <form action="/login" method="post" novalidate class="needs-validation">
    <!-------------------------- username --------------------------------->
    <div class="login_field_div">
      <label for="username" class="form-label">Username</label><br />
      <input
        type="text"
        id="username"
        name="username"
        minlength="3"
        maxlength="30"
        autocomplete="off"
        class="form-control"
        required
      />
      <div class="invalid-feedback">
        Username must be between 3 and 30 characters
      </div>
    </div>

    <!-------------------------- password --------------------------------->
    <div class="login_field_div">
      <label for="password" class="form-label">Password</label><br />
      <input
        type="password"
        id="password"
        name="password"
        minlength="4"
        maxlength="20"
        autocomplete="off"
        class="form-control"
        required
      />
      <div class="invalid-feedback">
        Password must be between 4 and 20 characters
      </div>
    </div>

    <!-------------------------- Login Button --------------------------------->
    <div class="login_field_div">
      <button>Log In</button>
    </div>
  </form>
</div>
